name: Run Linter

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install flake8 linter
      run: |
        python -m pip install --upgrade pip
        pip install flake8

    - name: Run flake8 linter on Python code
      run: |
        flake8 doc_inc/ tests/ --max-line-length=120 --statistics || true
      continue-on-error: true
